@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/font/KZPFChampionScriptPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 

:root{
  --font-title:'MyCustomFont';
  --font-text : "Cormorant Infant", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #fffaf8;
  font-family: var(--font-text);
  font-weight: 400;
  font-style: normal;
  color: #333;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    position: relative;   
}

.page.bg{
    background: url('./images/Berıkqali-Alia.jpeg') center/cover  no-repeat;
    height: 85vh;
    padding-top: 100px;
    border: none;
}

.page .title{
  font-family: "Old Standard TT", serif;
  margin: 0 0 0 -20px;
  color: #ffa8ca;
}

.hero h1 {
  font-family: var(--font-title);
  font-size: 100px;
  margin-top: 0px;
  margin-left: -50px;
  font-weight: normal;
  font-style: normal;
  color: #fda9a9;
}

.line{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 255, 0), rgb(255, 255, 255));
}

.page-down{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 43px;
    display: block;
    background: url("./images/4.png");
}

/* ABOUT */
.about, .timer, .location, .rsvp {
  padding: 40px 20px;
}

.location{
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location p{
   text-align: center;
} 

.countdown {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  font-size: 24px;
}

.countdown div {
  background: #fbe9e7;
  padding: 10px 20px;
  border-radius: 10px;
}

.gis{
  margin-top: 20px;
  text-decoration: none;
  color: #333;
  background: #fbe9e7;
  padding: 10px 20px;
  border-radius: 10px;
}

#about {
  background-color: #fffafc;
  text-align: center;
  font-family: var(--font-text);
  color: #333;
  border-radius: 12px;
  margin: 0 auto;
}

#about h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.5;
}

#about .invite-text {
  font-size: 25px;
  margin: 10px 0;
}

#about .name {
  font-size: 70px;
  font-family: var(--font-title);
  color: #a152b2;
  margin: 20px 0;
}

.page .name {
  font-size: 4rem;
  font-family: var(--font-title);
  color: #a152b2;
  font-weight: 100;
  margin: 20px 0;
  margin-bottom: 100px;
}

#calendar h1{
  margin-top: 20px;
}

.calendar-title{
  font-size: 50px;
  font-family: var(--font-title);
  color: #a152b2;
  font-weight: 100;
  margin: 20px 0;
  margin-bottom: 50px;
}

.final-text{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

input{
  border: none;
  padding: 15px 10px;
  border-radius: 15px;
  box-shadow: 0 0 0.5px 0px ;
}

button{
    border: none;
  padding: 15px 10px;
  background: #fbe9e7;
  border-radius: 15px;
}

/* Calendar */
#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  font-size: 20px;
  font-family: var(--font-text);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-name {
  font-weight: bold;
  padding: 10px 0;
  border-radius: 8px;
  color: #d46754;
}

.day {
  padding: 15px 0;
  border-radius: 8px;
  color: #333;
}

.day:hover {
  background-color: #f0e0f9;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.empty {
  background: transparent;
  border: none;
  cursor: default;
}

.timer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time{
  padding: 5px 0;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */

/* Mobile Styles */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 100px;
    margin-left: 0;
  }

  .title {
    font-size: 30px;
    margin: 20px 0;
  }

  .page.bg {
    height: 85vh;
    padding-top: 100px;
  }

  #about h1 {
    font-size: 20px;
  }

  
  #about .invite-text {
    font-size: 18px;
  }

  .countdown {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 18px;
  
  }

  .timer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0;
  }

  .location {
    font-size: 1.2rem;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .calendar-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* Desktop Styles - Show message for mobile version */
@media (min-width: 769px) {
  .mobile-message {
    display: block;
    font-size: 1.5rem;
    color: #d46754;
    margin-top: 20px;
    text-align: center;
  }

  /* Hide content for mobile */
  .hero h1, .calendar-title, .countdown, .location, .final-text {
    display: none;
  }
}
